/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 de dez. de 2024, 14:22:44
    Author     : Daniel Fontoura
*/

    .topSite{      
    
        font-family: sans-serif;
        text-align: left; 
        padding: 10px;
    
    }   
               
    #forms{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;    
    }
    
    .cabecalho{
        
        padding: 20px;
        word-spacing: 5px;
        text-align: right;
        
    }
    
    .loginErro {
        color: red; 
        font-weight: bold; 
        margin-top: 10px; 
        text-align: center; 
    }
    
    .menu {
        display: flex;              /* Flexbox para distribuir os itens horizontalmente */
        justify-content: center;    /* Alinha os itens no centro do contêiner */
        align-items: center;        /* Alinha os itens verticalmente ao centro */
        gap: 60px;                  /* Aumenta o espaçamento entre os itens para 60px */
        padding: 20px;              /* Adiciona espaço interno no contêiner */
        max-width: 1200px;          /* Define o limite máximo da largura do contêiner */
}

    .dropdown {
        position: relative;
    }
    
    .pageAdm{
        font-family: sans-serif;
        text-align: center;
    }
    
    .table-responsive {
                text-align: center;
                white-space: nowrap; /* Evitar quebra de linha no conteúdo */
            }
            .table td {
                max-width: 150px; /* Limite de largura para células */
                overflow: hidden;
                text-overflow: ellipsis; /* Reticências para textos longos */
            }
            .table th {
                min-width: 100px; /* Garantir alinhamento consistente */
            }




    